
@{
    ViewBag.Title = "DataManagement";
}

<h2>DataManagement</h2>

<a href="@Url.Action("DonorDataManagement", "DataManagement")">Manage Donor Data</a>
<br />
<a href="@Url.Action("UserDetailManagement", "DataManagement")">Manage User Detail</a>
